<div class="form-group" ng-class="{'has-error': !ctrl.$valid && (formCtrl[name].$touched || formCtrl.$submitted)}">
    <label for="{{name}}">{{label}}</label>

    <div class="input-group">
        <div class="input-group-addon">{{currencySymbol}}</div>
        <input type="text" class="form-control" id="{{id}}" name="{{name}}" ng-placeholder="{{placeholder}}"
               ng-model="ngModel">
    </div>
    <div ng-messages="ctrl.$error" ng-if="formCtrl[name].$touched || formCtrl.$submitted">
        <ng-messages-include src="{{errMsgPath}}"></ng-messages-include>
    </div>
</div>