<div class="form-group" ng-class="{'has-error': !ctrl.$valid && (formCtrl[name].$touched || formCtrl.$submitted)}">
    <label for="{{name}}">{{label}}</label>
    <div ng-if="!showDatePicker">
        <input type="text" class="form-control" id="{{id}}" name="{{name}}" ng-placeholder="{{placeholder}}"
               ng-model="vm.dateValue" ui-mask="{{mask}}" ng-required="{{::vm.required}}" ng-blur="onChangeDate()"/>
    </div>
    <div ng-if="showDatePicker">
            <div class="input-group">
            <input name="dateField" type="text" class="form-control date-picker" datepicker-popup="{{vm.format}}" ng-model="vm.dateValue"
                   is-open="vm.opened" datepicker-options="vm.dateOptions" close-text="Close" ng-blur="onChangeDate()" />
            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="vm.open($event)"><i
                    class="glyphicon glyphicon-calendar"></i></button>
            </span>
            <timepicker ng-model="vm.timeValue" ng-change="vm.timeChanged()" show-meridian="false" style=" margin-left: 10px;"></timepicker>

            </div>
        <input type="hidden" ng-model="$parent.ngModel" />
    </div>
    <div ng-messages="ctrl.$error" ng-if="formCtrl[name].$touched || formCtrl.$submitted">
        <ng-messages-include src="{{errMsgPath}}"></ng-messages-include>
    </div>

</div>